*{
    padding: 0;
    margin: 0;
    background-color: black;
    font-family: 'oxygen', sans-serif;
}

.container{
    margin: 5rem 12rem;
}

.divide{
    margin-top: 2rem 0rem 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0rem 2rem;

}


.col1{
    justify-self: center;
}

.col2{
    justify-self: center;
}

.main-heading{
    text-align: center;
}

h1, p{
    color: white;
}
h1{
    margin: 1rem 0rem;

    font-family: 'Oxygen', sans-serif;
}
.first{
    
}

.main{
    border: 2px solid silver;
}


.second, .third {
    display: none;
}
@media only screen and (max-width : 1250px) {
    .container{
        margin: 0rem;
    }
}

@media only screen and (max-width : 800px) {
    .divide{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem;
    }

    .container{
        margin: 1rem;
    }
}

@media only screen and (max-width : 800px) {
    img{
        height: 300px;
    }
}
